* {
    margin: 0;
    padding: 0;
}

.main-container {
    /* background-image: url(../3243642.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* background-color: bisque; */
    height: 100vh;
    width: 100vw;
    /* background-color: bisque; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.flex-container {
    display: flex;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.col-flex {
    display: flex;
    flex-direction: column;
}


.nav-logo {
    padding: 0px 5%;
}

.nav-logo img {
    width: 4.4rem;
}

.nav-bar {
    width: 100%;
    color: white;
    margin: 20px 0px;
    padding: 0.4rem;
    background: #00000026;
    /* align-self: flex-start; */
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    /* background-color: #fed30a; */
    color: white;
    /* padding: 15px; */
    width: 56%;
    /* min-width: 585px; */
    border: 0px solid white;
    border-radius: 25px 0px 0px 25px;
    background: linear-gradient(45deg, #eeb6f3, #8c5eac);
    align-items: center;
    margin-right: 1rem;
}

.nav-list ul {
    width: 100%;
    justify-content: space-evenly;
    padding: 0px 2%;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;
}

.nav-list ul img {
    display: none;
}

.nav-list li {
    list-style: none;
    cursor: pointer;
    padding: 15px 5%;
    height: 1.4rem;
}

.nav-list label {
    display: none;
    color: black;
}

.nav-list li:hover {
    color: rgb(252, 193, 0);
    background-color: white;
    border-radius: 50px;

    /* height: %; */
}

.nav-list input {
    width: 32%;
    margin: 10px;
    padding: 7px 5px;
    border-radius: 12px;
    border: 0px solid white;
    /* position: relative; */
    /* left: 0px; */
}

.nav-list button {
    background-color: transparent;
    font-size: 20px;
    color: white;
    border: 0px solid white;
    padding: 0px 1.5% 0px 0px;
}

/* Responsive Css */
/* max-width:940px */
@media (max-width: 940px) {
    :root {
        --hide-nav: -135%
    }

    .nav-open {
        --hide-nav: 0%;
    }

    .nav-list ul {
        flex-direction: column;
        position: fixed;
        top: 0px;
        /* right: 0px; */
        left: var(--hide-nav);
        background: linear-gradient(45deg, #eeb6f3, #8b44bd);
        height: 100vh;
        padding-top: 0rem;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-size: 1.2rem;
        z-index: 1;
        transition: left 0.6s;
    }

    /* #nav-ul-id{
        left: -100%;
    } */
    .nav-list {
        margin-right: 1.5rem;
        justify-content: space-evenly;
        width: 35%;
        min-width: 300px;
        background: transparent;
    }

    .nav-list ul img {
        display: flex;
        width: 4.5rem;
        margin-bottom: 1rem;
        position: relative;
        top: 28px;
        /* align-items: flex-start; */
    }

    #sideClose {
        position: relative;
        left: 40.5vw;
        top: -71px;
    }

    #sideClose img {
        width: 2.3rem;
        ;
    }

    .nav-list label {
        display: flex;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .nav-list input {
        width: 45%;
    }

}

/* Resposive for below 768px */
@media (max-width: 768px) {
    .nav-bar {
        margin-bottom: 0px;
    }

    .nav-logo img {
        width: 3.9rem;
    }

    .nav-list ul {
        padding-top: 0rem;
    }

    .nav-list ul img {
        display: flex;
        width: 4rem;
        margin-bottom: 2rem;
        position: relative;
        top: 30px;
        /* align-items: flex-start; */
    }

    #sideClose {
        position: relative;
        left: 40vw;
        top: -82px;
    }

    #sideClose img {
        width: 2rem;
    }

    .nav-list {
        width: 45%;
        min-width: 0%;
        margin-right: 0rem;
    }

    .nav-list label {
        display: flex;
        font-size: 1.4rem;
        cursor: pointer;
        margin-right: 1rem;
        margin-left: 2rem;
    }
}

/* Responsive below width 480 */

@media (max-width: 480px) {
    .nav-list {
        width: 20%;
    }

    .nav-list input {
        width: 0%;
        display: none;
    }

    .nav-list button {
        display: none;
    }

}

/* @media (min-height: 480px) {
    .nav-list ul img {
        display: flex;
        width: 4rem;
        margin-bottom: 1rem;
        position: relative;
        top: 30px;
        align-items: flex-start;
    }

    .nav-list li {
        list-style: none;
        cursor: pointer;
        padding: 10px 5%;
        height: 1.4rem;
        font-size: 1.2rem;
    }
    #sideClose {
    position: relative;
    left: 40vw;
    top: -66px;
}
} */


/* //Container -Below NavBAr */
.submain-container1 {
    justify-content: center;
    width: 100%;
    align-items: center;
}

.submain-container1 img {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.submain-text {
    width: 35%;
    padding: 1rem;
    margin-left: 3rem;
}

.submain-text h1 {
    font-size: 3.3rem;
}

.submain-text h1 span {
    color: #252a71;
}

.submain-text p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 100;
}

.submain-text a {
    text-decoration: none;
    background: linear-gradient(45deg, #8d6bab, transparent);
    width: 35%;
    padding: 8px;
    font-size: 1.1rem;
    margin: 0.5rem 0rem;
    color: #252a71;
}

.submain-text a:hover {
    color: white;
}


@media (max-width:1100px) {
    .submain-text h1 {
        font-size: 2.7rem;
    }

    .submain-text p {
        font-size: 1.1rem;
    }

    .submain-text a {
        font-size: 1.0rem;
    }
}

@media (max-width:940px) {
    .submain-text h1 {
        font-size: 2.0rem;
    }

    .submain-text p {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 1rem;
        font-weight: 100;
    }

    .submain-text a {
        font-size: 1rem;
    }
}


@media (max-width:768px) {
    .submain-container1 {
        flex-direction: column-reverse;
    }

    .submain-container1 img {
        width: 75%;
    }

    .submain-text {
        width: 50%;
        padding: 0rem 1rem;
        margin-left: 0rem;
        text-align: center;
        align-items: center;
    }

    .submain-text h1 {
        font-size: 6vw;
    }

    .submain-text p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 2.8vw;
        font-weight: 100;
    }
}